@font-face {
    font-family: "Manrope";
    src: url("Manrope-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}