    @layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        line-height: 1.5;
    }

    body {
        min-height: 100vh;
    }

    img,
    svg,
    picture,
    video,
    canvas {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }
}